language: python

install:
  - pip install ".[testing]"

env:
  - TEST_CMD="pytest tests"

script:
  - $TEST_CMD

matrix:
  include:
    - name: "mypy"
      python: "3.6"
      env:
        - TEST_CMD="mypy instapi"

    - name: "codecov"
      python: "3.6"
      env:
        - TEST_CMD="pytest --cov-report term --cov=instapi tests"
      after_success:
        - curl -s https://codecov.io/bash | bash

    - name: "3.6"
      python: "3.6"

    - name: "3.7"
      python: "3.7"

    - name: "3.8"
      python: "3.8-dev"

